<h1>Stupid Coaching<h1>
<div>
  <p><%=@question%></p>
  <p>-You</p>
</div>
<div class="coach">
  <span ><%=@answer%> </span> <br>
  <span> -Your coach </span>
</div>
<div>
 <a href= "/ask"> Ask a new question </a>
</div>
