<h1>Stupid Coaching<h1>
<h2> Ask your coach anything </h2>
<div class= "form" >
  <form action="/answer" method= "get">
    <input type="text" name="question" class="space">
    <input type="submit" value="Ask"class="btn">
  </form>
</div>
